#wotero-prefpane {
  width: 580px;
}

#wotero-prefpane description {
  font-size: 12px;
}

#wotero-prefpane groupbox:last-of-type {
  margin-bottom: 3em;
}

#wotero-prefpane label.text-link {
  margin: 0;
}
